.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
  
.quiz-card {
    height: 100px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}
  
.quiz-card:hover {
    transform: scale(1.05);
}
  
h3 {
    margin-bottom: 10px;
}
